                 :root {
                    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 400;
                    color-scheme: light dark;
                    color: rgba(255, 255, 255, 0.87);
                    background-color: #040106;
                    font-synthesis: none;
                    text-rendering: optimizeLegibility;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    -webkit-text-size-adjust: 100%;
                }
                
                #myProgress {
                    display: flex;
                    flex-direction: column;
                    place-items: center;
                    align-items: center;
                    width: 1000px;
                    height: 500px;
                    position: relative;
                    min-width: 0;
                    margin-top: 5%;
                }
                
                #myBar {
                    border-radius: 1.2rem;
                    width: 300px;
                    height: 10px;
                    background: linear-gradient(90deg, rgba(71, 167, 255, 1) 35%, rgba(96, 39, 255, 1) 100%);
                    border: 1px solid #333;
                }
                
                a {
                    font-weight: 500;
                    color: #646cff;
                    text-decoration: inherit;
                }
                
                i {
                    transition: all 0.5s ease-in-out;
                }
                
                i:hover {
                    transform: scale(1.21);
                }
                
                a:hover {
                    color: #535bf2;
                }
                
                body {
                    margin: 0;
                    display: flex;
                    place-items: center;
                    min-height: 100vh;
                }
                
                h1 {
                    font-size: 3.2em;
                    line-height: 1.1;
                }
                
                #app {
                    max-width: 1280px;
                    margin: 0 auto;
                    padding: 2rem;
                    text-align: center;
                }
                
                button {
                    border-radius: 8px;
                    border: 1px solid transparent;
                    padding: 0.6em 1.2em;
                    font-size: 1em;
                    font-weight: 500;
                    font-family: inherit;
                    background-color: #000000;
                    cursor: pointer;
                    transition: border-color 0.25s;
                }
                
                button:hover {
                    border-color: #646cff;
                }
                
                button:focus,
                button:focus-visible {
                    outline: 4px auto -webkit-focus-ring-color;
                }
                
                
                
                .socials {
                    align-items: center;
                    place-content: center;
                    margin-left: -26px;
                    display: flex;
                    list-style: none;
                    list-style: none;
                }
                
                .socials i {
                    text-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
                    margin-right: 12px;
                }
                
                .langs {
                    padding-top: 50px;
                    margin-left: -22px;
                    margin-top: -30px;
                    display: flex;
                    list-style: none;
                    list-style: none;
                }
                
                .langs i {
                    text-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
                    margin-right: 12px;
                }
                
                .quote-holder {
                    margin-bottom: 20px;
                    background-color: #141414;
                    height: 40px;
                    display: flex;
                    flex-direction: column;
                    place-content: center;
                    align-items: center;
                    width: 200px;
                    border-radius: 0.51rem;
                }
                
                .li {
                    list-style: none;
                }
                
                .cssas {
                    position: relative;
                    display: inline-block;
                    border-bottom: 1px dotted black;
                }
                
                .cssas .tooltiptext {
                    visibility: hidden;
                    width: 120px;
                    background-color: black;
                    color: #fff;
                    text-align: center;
                    border-radius: 6px;
                    padding: 5px 0;
                    position: absolute;
                    z-index: 1;
                    bottom: 100%;
                    left: 50%;
                    margin-left: -60px;
                    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
                    opacity: 0;
                    transition: opacity 1s;
                }
                
                .cssas:hover .tooltiptext {
                    visibility: visible;
                    opacity: 1;
                }
                
                .bd {
                    width: 500px;
                    height: 2px;
                    background-color: #000000;
                }
                
                .card {
                    border-width: 12px;
                    border-color: #535bf2;
                    align-items: center;
                    place-items: center;
                    justify-content: center;
                    height: 400px;
                    width: 600px;
                    display: flex;
                    flex-direction: column;
                    background-color: #1a1a1a;
                    border-radius: 0.7rem;
                }
                
                .card h1 {
                    background: linear-gradient(90deg, rgba(71, 167, 255, 1) 35%, rgba(96, 39, 255, 1) 100%);
                    /* Mask the color to the text, and remove the rest  */
                    -webkit-background-clip: text;
                    /* Make the text fill color value transparent so the masked background color comes through */
                    -webkit-text-fill-color: transparent;
                }
                
                @media screen and (max-width: 700px) {
                    .card {
                        margin-bottom: 250px;
                        margin-left: -100px;
                    }
                    .socials {
                        margin-right: 0px;
                    }
                    #myProgress {
                        margin-left: -300px;
                    }
                }
